<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amingoli.com.selar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".helper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Selar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name=".activity.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.first_open.FirstOpenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.add_order.AddOrderBasketActivity"
            android:exported="false" />
        <activity
            android:name=".activity.add_order.AddOrderActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.add_order.AddOrderCameraActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.category.UnderCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.product.ListProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.category.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.branch.BranchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BarcodeScannerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.product.ProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>